

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans.eot');
  src: url('OpenSans.eot?#iefix') format('embedded-opentype'),
       url('OpenSans.woff') format('woff'),
       url('OpenSans.ttf') format('truetype'),
       url('OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

 body{
   background-color :#dd4e4c;
 }

 h1{
   color: red
 }

 h3#naglowek{
   text-align: left top;
   color: white;
   font-family: "OpenSans";
   font-size:  35px;
   background-color: #9a3635;
 }

 .search_text_field_tag {
    position: fixed;
    top: 45px;
    left: 950px;

 }

 .search_button{
   position: fixed;
   top: 45px;
   left: 1200px;
 }

 .user_head{
   position: fixed;
   top: 10px;
   left: 1000px;
 }

.white_space{
  background-color: white;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;

}

a{
  font-family: "OpenSans";
  /*background-color: #c64644;*/
  text-transform: uppercase;
  text-decoration: none;
  color: #421716;
}

.head_button{

}

a:hover{
  background-color: #c64644;
  background-size: 20px;
}
